main {
    min-height: 40vh;
}

footer {
    background-color: #999999;
}

#responsive-navbar-nav .dropdown-toggle {
    color: rgba(255, 255, 255, 0.8);
}

#responsive-navbar-nav .dropdown-toggle:hover {
    color: rgba(255, 255, 255, 1);
}

.fileContainer .uploadPictureContainer {
    width: 100% !important;
}